# PREDICTING ENERGY EFFICIENCY OF BUILDINGS

Hamoye Stage B Tag Along Project

Intern:MONJOK JOSEPH TEREM.
Track:Data Science

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh 

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [7]:
#IMPORTING ALL NECESSARY LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

#REGRESSION PERFORMANCE MEASURING
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#PENALISATION METHODS
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

print('Set-up Completed')

Set-up Completed

In [8]:
#IMPORTING THE DATA_SET
file_path='C:\\Users\\Monjok J\\Downloads\\energydata_complete.csv'
energy_df=pd.read_csv(file_path)
energy_df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,5/27/2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,5/27/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,5/27/2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,5/27/2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,5/27/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

KNOWING THE DATASET

In [9]:
energy_df.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.500000,92.000000,7.000000,63.000000,5.30,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.600000,92.000000,6.666667,59.166667,5.20,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.700000,92.000000,6.333333,55.333333,5.10,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.800000,92.000000,6.000000,51.500000,5.00,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.900000,92.000000,5.666667,47.666667,4.90,10.084097,10.084097
5,1/11/2016 17:50,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.02,734.000000,92.000000,5.333333,43.833333,4.80,44.919484,44.919484
6,1/11/2016 18:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.90,734.100000,92.000000,5.000000,40.000000,4.70,47.233763,47.233763
7,1/11/2016 18:10,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.92,734.166667,91.833333,5.166667,40.000000,4.68,33.039890,33.039890
8,1/11/2016 18:20,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.93,734.233333,91.666667,5.333333,40.000000,4.67,31.455702,31.455702
9,1/11/2016 18:30,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.95,734.300000,91.500000,5.500000,40.000000,4.65,3.089314,3.089314

In [10]:
energy_df.tail(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19725,5/27/2016 16:30,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.7,...,23.2,46.700000,22.9,755.35,55.000000,2.500000,22.500000,13.3,23.009520,23.009520
19726,5/27/2016 16:40,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.7,...,23.2,46.652857,22.9,755.30,55.000000,2.666667,22.333333,13.3,25.296732,25.296732
19727,5/27/2016 16:50,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.7,...,23.2,46.718000,23.0,755.25,55.000000,2.833333,22.166667,13.4,1.796395,1.796395
19728,5/27/2016 17:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.7,...,23.2,46.751429,23.0,755.20,55.000000,3.000000,22.000000,13.4,18.248201,18.248201
19729,5/27/2016 17:10,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.7,...,23.2,46.745000,22.9,755.20,55.333333,3.166667,22.833333,13.4,16.966162,16.966162
19730,5/27/2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.790000,22.7,755.20,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,5/27/2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.790000,22.6,755.20,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,5/27/2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.790000,22.5,755.20,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,5/27/2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.817500,22.3,755.20,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,5/27/2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.845000,22.2,755.20,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [11]:
energy_df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [12]:
energy_df.columns.nunique()

29

In [13]:
energy_df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.412580,755.522602,79.750418,4.039752,38.330834,3.760995,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.318464,7.399441,14.901088,2.451221,11.794719,4.195248,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.670000,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.920000,756.100000,83.666667,3.666667,40.000000,3.430000,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.400000,760.933333,91.666667,5.500000,40.000000,6.570000,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [14]:
energy_df.shape

(19735, 29)

In [15]:
energy_df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [16]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [17]:
energy_df.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [18]:
energy_df.nunique()

date           19735
Appliances        92
lights             8
T1               722
RH_1            2547
T2              1650
RH_2            3376
T3              1426
RH_3            2618
T4              1390
RH_4            2987
T5              2263
RH_5            7571
T6              4446
RH_6            9708
T7              1955
RH_7            5891
T8              2228
RH_8            6649
T9               924
RH_9            3388
T_out           1055
Press_mm_hg     2189
RH_out           566
Windspeed        189
Visibility       412
Tdewpoint       1118
rv1            19735
rv2            19735
dtype: int64

QUESTIONS BASED ON THE DATASET

1).REGRESSION PERFORMANCE

A

QUESTION 17.
From the dataset,fir a linear model on the relationship between the temperature in the living room in celcius(x=T2) and the temperature outside the building(y=T6).What is the Root Mean Squared Error(RMSE) in 3dp?

In [49]:
#ASSIGNING X TO T2 AND Y TO T6
x=energy_df['T2']
y=energy_df['T6']


X=np.array(x)
Y=np.array(y)

In [50]:
#arr=np.array(x)
#x_feature=arr.reshape(-1,1)
x_feature=X.reshape(-1,1)

In [52]:

#SPLITING THE DATASET INTO TRAINING AND TESTING SETS
x_train,x_test,y_train,y_test=train_test_split(x_feature, Y,train_size=0.7,random_state=1)
#DEFINING THE MODEL
linear_m=LinearRegression()

#FITTING THE MODEL
linear_m.fit(x_train,y_train)

#PREDICTING THE MODEL
predicted_values=linear_m.predict(x_test)

In [53]:
#RESIDUAL SUM OF SQUARES

rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

3.612

B

QUESTION 18.

In [54]:
new_energy_df=energy_df.drop(['date','lights'],axis=1)
new_energy_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [55]:
#NORMALISING THE DATA TO A COMMON SCALEUSING MinMaxScaler
scaler=MinMaxScaler()
normalised_df=pd.DataFrame(scaler.fit_transform(new_energy_df),columns=new_energy_df.columns)
features_df=normalised_df.drop(columns=['Appliances'],axis=1)
energy_target=normalised_df['Appliances']

In [59]:
#SPLITING THE DATASET INTO TRAINING AND TESTING SETS
x_train,x_test,y_train,y_test=train_test_split(features_df,energy_target,test_size=0.3,random_state=42)

#DEFINING THE MODEL
linear_model=LinearRegression()

#FITTING THE MODEL
linear_model.fit(x_train,y_train)

#PREDICTING THE MODEL
#predicted_values=linear_model.predict(x_test)
y_train_pred=linear_model.predict(x_train)
y_test_pred=linear_model.predict(x_test)

In [65]:
#THE MAE(train)IN 2dp
df_mae=mean_absolute_error(y_train, y_train_pred)
round(df_mae,3)

0.05

QUESTION 19.

In [81]:
#RMSE FOR TRAINING SET
rmse_train=np.sqrt(mean_squared_error(y_train,y_train_pred))
round(rmse_train,3)

0.089

QUESTION 20.

In [82]:
mae_test=mean_absolute_error(y_test,y_test_pred)
round(mae_test,3)

0.05

QUESTION 21.

In [85]:
#RMSE(test)
rmse_test=np.sqrt(mean_squared_error(y_test,y_test_pred))
round(rmse_test,3)

0.088

QUESTION 22.

In [88]:
#DID THE MODEL ABOVE OVERFIT TO THE TRAINING SET?
overfit=rmse_train<rmse_test
if" no":
   overfit,
else:
    "yes"
    
overfit

False

OBTAIN THE FEATURE WEIGHTS FROM YOUR LINEAR MODEL ABOVE.WHICH FEATURES HAVE THE LOWEST AND HIGHESTWEIGHTS RESPECTIVELY?

In [89]:
def get_weights_df(model,feat,col_name):
    weights=pd.Series(model.coef_,feat.columns).sort_values()
    weights_df=pd.DataFrame(weights).reset_index()
    weights_df.columns=['Features',col_name]
    weights_df[col_name].round(2)
    return weights_df

In [90]:
linear_model_weights=get_weights_df(linear_model,x_train,'Linear_Model_weight')

In [91]:
linear_model_weights

       Features  Linear_Model_weight
0           rv2        -1.786975e+11
1          RH_2        -4.566826e-01
2         T_out        -3.219074e-01
3            T2        -2.361999e-01
4            T9        -1.899358e-01
5          RH_8        -1.575620e-01
6        RH_out        -7.771161e-02
7          RH_7        -4.464967e-02
8          RH_9        -3.979947e-02
9            T5        -1.563554e-02
10           T1        -3.241639e-03
11  Press_mm_hg         6.840166e-03
12           T7         1.037873e-02
13   Visibility         1.228953e-02
14         RH_5         1.601761e-02
15         RH_4         2.633627e-02
16           T4         2.890543e-02
17    Windspeed         2.916858e-02
18         RH_6         3.802817e-02
19         RH_3         9.615009e-02
20           T8         1.019320e-01
21    Tdewpoint         1.178089e-01
22           T6         2.364367e-01
23           T3         2.906434e-01
24         RH_1         5.534853e-01
25          rv1         1.786975e+11

In [102]:
#RMSE EQUALS:
l2_rmse=np.sqrt(mean_squared_error(y_test,l2_predictions))
print('RMSE EQUALS:',round(l2_rmse,2))

RMSE EQUALS: 0.09

QUESTION 24

In [100]:
#HOW MANY OF THE FEATURES HAVE NON_ZERO FEATURE WEIGHTS?
non_z=lasso_weights_df['Lasso_weight'].astype(bool).sum(axis=0)
print('The Total Features That Have Non_Zero Feature Weights Is:',non_z)

The Total Features That Have Non_Zero Feature Weights Is: 26

QUESTION 25

WHAT IS THE NEW RMSE WITH THE LASSO REGRESSION on the test set?

In [101]:
#THE NEW RMSE WITH LASSO
new_lasso_rmse=np.sqrt(mean_squared_error(y_test,l1_predictions))
print('The RMSE On Lasso Is:',round(new_lasso_rmse,2))

The RMSE On Lasso Is: 0.09